<div style="width: 30%; padding: 4rem;">
    <div class="card card-primary">
      <header class="card-header">Card Title</header>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sint aperiam dignissimos minima sunt! Rem corrupti autem at, aut animi recusandae.
      </div>
    </div>
  </div>
  
  <div style="width: 30%; padding: 4rem;">
    <div class="card card-secondary">
      <header class="card-header">Card Title</header>
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sint aperiam dignissimos minima sunt! Rem corrupti autem at, aut animi recusandae.
      </div>
    </div>
  </div>