<body>
    <div class="collapsible collapsible-expanded">
      <header class="collapsible-header">
        <h2 class="collapsible-heading">Item 1</h2>
        <svg class="icon icon-white collapsible-chevron">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, hic.
      </div>
    </div>
    <script src="js/main.js"></script>
</body>
<!-- there is a problem in chevron's color icon -->