<blockquote class="quote">
    <p class="quote-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Iure dolores voluptate unde mollitia voluptatem suscipit
       vel veniam animi accusamus alias!
    </p>
    <footer>
        <!-- the code that we wrote inside a <footer> we bring it from "media.html" -->
        <div class="media">
            <div class="media--image">
            <svg class="icon icon-primary quote-line">
                <use xlink:href="images/sprite.svg#line"></use>
            </svg>
            </div>
            <div class="media--body">
            <h3 class="media--title quote-auther">John Smith</h3>
            <p class="quote-organization">
                ABC Company
            </p>
            </div>
        </div>
    </footer>
</blockquote>