<button class="btn btn--primary">buy now</button>
<a href="#" class="btn btn--primary" >buy now</a>

<button class="btn btn--secondary">buy now</button>
<a href="#" class="btn btn--secondary" >buy now</a>

<button class="btn btn--accent">buy now</button>
<a href="#" class="btn btn--accent" >buy now</a>

<button class="btn btn--outline">buy now</button>
<a href="#" class="btn btn--outline" >buy now</a>

<button class="btn btn--block btn--primary">buy now</button>
<a href="#" class="btn btn--block badge--primary" >buy now</a>
