<footer class="block block-dark footer">
    <div class="container grid footer-sections">
        <section class="collapsible collapsible-expanded footer-section">
            <header class="collapsible-header">
                <h2 class="collapsible-heading footer-heading">PRODUCTS</h2>
                <svg class="icon icon-white collapsible-chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#"> Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer-section">
            <header class="collapsible-header ">
                <h2 class="collapsible-heading footer-heading">Item 2</h2>
                <svg class="icon icon-white collapsible-chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#"> Migrations</a></li>
                </ul>                
            </div>
        </section>
        <section class="collapsible footer-section">
            <header class="collapsible-header">
                <h2 class="collapsible-heading footer-heading">Item 3</h2>
                <svg class="icon icon-white collapsible-chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#"> Migrations</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer-section">
            <header class="collapsible-header">
                <h2 class="collapsible-heading footer-heading">Item 4</h2>
                <svg class="icon icon-white collapsible-chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible-content">
                <ul class="list">
                    <li><a href="#">Website Hosting</a></li>
                    <li><a href="#">Free Automated Wordpress</a></li>
                    <li><a href="#"> Migrations</a></li>
                </ul>               
            </div>
        </section>
        <section class="footer-brand">
            <img src="images/logo.svg" alt="">
            <p class="footer-copyright">Copyright 2024 Hend Nasser</p>
        </section>
    </div>
</footer>
<script src="js/main.js"></script>