<body style="padding: 5rem;">
    <div class="card testimonial">
        <div class="grid grid-1x2">
            <div class="testimonial-image">
                <img src="images/testimonial.jpg"
                    alt="A happy, smiling custumer"> 
                <span class="icon-container icon-container--accent">
                    <svg class="icon icon-white icon-small">
                        <use xlink:href="images/sprite.svg#quotes"></use>
                    </svg>
                </span>
            </div>
            <blockquote class="quote">
                <p class="quote-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Iure dolores voluptate unde mollitia voluptatem suscipit
                    vel veniam animi accusamus alias!
                </p>
                <footer>
                    <div class="media">
                        <div class="media--image">
                            <svg class="icon icon-primary quote-line">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                        </div>
                        <div class="media--body">
                            <h3 class="media--title quote-auther">John Smith</h3>
                            <p class="quote-organization">
                                ABC Company
                            </p>
                        </div>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>
</body>